parameters:
	ignoreErrors:
		-
			message: "#^Class App\\\\Models\\\\User not found\\.$#"
			count: 1
			path: config/otpz.php

		-
			message: "#^Access to an undefined property BenBjurstrom\\\\Otpz\\\\Models\\\\Concerns\\\\Otpable&Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$email\\.$#"
			count: 1
			path: src/Mail/OtpzMail.php

		-
			message: "#^Method BenBjurstrom\\\\Otpz\\\\Models\\\\Otp\\:\\:user\\(\\) should return Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\<BenBjurstrom\\\\Otpz\\\\Models\\\\Concerns\\\\Otpable&Illuminate\\\\Database\\\\Eloquent\\\\Model, \\$this\\(BenBjurstrom\\\\Otpz\\\\Models\\\\Otp\\)\\> but returns Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\<Illuminate\\\\Database\\\\Eloquent\\\\Model, \\$this\\(BenBjurstrom\\\\Otpz\\\\Models\\\\Otp\\)\\>\\.$#"
			count: 1
			path: src/Models/Otp.php

